{% extends 'copper/base.html'  %}
{% load static %}
{% block content %}

  <div class="container-fluid bg-light ">

    <div class="row">

      <div  class="col-sm-6">
  
        <div class="column" class="col-sm-6">
          <p>Give your customer human feeling touch  <span>Like Never Befor</span></p>
        </div>
          <br><br> <br> <br><br> <br> <br><br><br><br> <br><br>
          <!-- login email for demp -->
        <form class="form">
  
          <input  type="email" placeholder="name@email.com" class="mail  border">
  
          <input type="submit" value=" Request to demo  > "  class="red btn btn-danger"> 
  
          <br><br><span style="text-align: center;"> <hr> <br></span> <br> <br>
  
          <i class="fa fa-google border"><input type="email" placeholder=" Sign Up With Google" style="border: 1px; width: 400px;"></i>
        <pre>No credit card required. Available on Mac , Window<br>IOS & Android</pre>
        </form>
  
      </div>
  
<!------------------------- Dashboard image---------------------  -->
      <div  class="col-sm-6">
        <a href=""><img class="w-100 h-150"  src="{% static 'copper/images/web.jpg' %}" alt=""></a>
      </div>
    </div>
  
   <!-- ---------------------------------------  - -->
   <div class="dir">
    <div class="dir1">
    <marquee behavior="" direction=""><img src="{% static 'copper/images/an.jpg' %}" alt=""></marquee>
    </div><br>

    <div class="dir1">
      <marquee behavior="" direction=""><img src="{% static 'copper/images/an2.jpg' %}" alt=""></marquee>
      </div><br>

      <div class="dir1">
        <marquee behavior="" direction=""><img src="{% static 'copper/images/an3.jpg' %}" alt=""></marquee>
      </div><br>

        <div class="dir1">
          <marquee behavior="" direction=""><img src="{% static 'copper/images/an4.jpg' %}" alt=""></marquee>
        </div>

        <div class="dir1">
          <marquee behavior="" direction=""><img src="{% static 'copper/images/an5.jpg' %}" alt=""></marquee>
        </div>

        <div class="dir1">
          <marquee behavior="" direction=""><img src="{% static 'copper/images/an6.jpg' %}" alt=""></marquee>
        </div>

  </div> 
<!-- ---------------------------------- -->
  <section>
    <div class="work" >
      <h4>How <span style="font-weight: lighter;">It Work</span></h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis dolorem porro qui et ex maiores,sit praesentium iusto sapiente dolore?</p>
    </div>


    <div class="task">

      <div class="manage">
        <img src="{% static 'copper/images/download.jpeg' %}" alt="">
      </div>

      <div class="manage">
        <h4> Task <span>Management</span> </h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad sapiente aperiam similique debitis animi dolorem, iusto voluptatem accusamus consectetur hic!</p>

        <a href=""><input class="btn" type="submit" value="view more >"></a>
      </div>
    </div>
<!-- -------------------circle----------------- -->
    
<!-- <div class="circle">

      <div class="half-circle">
        <div class="central-circle">
          <img src="{% static 'copper/images/pc9.jpg' %}" alt="">
        </div>
  
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc1.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc2.jpg' %} " alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc3.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc4.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc5.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc6.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc7.jpg' %}" alt="">
        </div>
  
        <div class="sm-circle">
          <img src="{% static 'copper/images/pc8.jpg' %}" alt="">
        </div>
  
      </div>

    </div>
 -->

  </section>

  <!-- ------------------------- -->

  <div class="grouth">
    <div class="client1">
      <h4><span>Average Yearly Growth Rate</span> Across Our Clients We Able To Achive</h4>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia totam, voluptatum commodi dolor praesentium sunt, qui hic molestias magni, numquam aspernatur vitae. Perspiciatis suscipit veniam eaque atque expedita? Totam, distinctio?</p>
      <hr>

    </div>

    <div class="client2">
      <div class="g-rate">
        <img src="{%  static 'copper/images/th1.png' %}" alt="">
        <p>Fully Secure And Hacking Free</p>
      </div><br><br>

      <div class="g-rate">
        <img src="{%  static 'copper/images/th2.png' %}" alt="">
        <p>Always Having A Great Supports</p>
      </div>
    </div>

  </div>
<!-- ------------------------------------------------------ -->
  <div class="grouth2">
    <div class="client3">
      <div class="exp">
        <h5 class="text-danger">24+</h5>
        <p>Years Of <br><br> <br><br>Experience</p>
      </div>

      <div class="exp">
        <h5 class="text-success">10M</h5>
        <p>More real <br><br>Actively users</p>
      </div>

      <div class="exp">
        <h5  class="text-warning"> 3000+ M</h5>
        <p>Employees <br><br><br> <br>Work Here</p>
      </div>

    </div>

    <div class="client4">
      <div class="g-rate1">
        <img src="{%  static 'copper/images/th3.png' %}" alt="">
        <p>Fully Secure And Hacking Free</p>
      </div><br><br>

      <div class="g-rate1">
        <img src="{%  static 'copper/images/th4.png' %}" alt="">
        <p>Always Having A Great Supports</p>
      </div>
    </div>

  </div>

    <!--================= <!-section6==----------------------------=-->

    <div class="chart">
      <div class="work-chart">
        <img src="{%  static 'copper/images/download.jpeg' %}" alt="">
      </div>
  
      <div class="work-exp">
       <h5>Cretae an<br>Automated<br><span>By Workflow Setting</span></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, mollitia! Numquam deleniti ullam, eos similique alias, harum vitae earum impedit corporis maiores molestiae sunt qui cumque dignissimos tenetur quaerat quidem natus iste. Officiis natus dignissimos ipsum quis, voluptate sunt? Enim?</p>
      </div>
  
    </div>
<!-- ------ -->
    <div class="chart">
      <div class="work-chart">
        <h5>Who Are WeAnd What Is <br>Our Identity?</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae incidunt totam ratione aliquam perspiciatis illum facere tempora quidem quam, in culpa sequi. Et placeat iste tempore nulla hic iusto ad deleniti nam, sunt inventore explicabo? Hic a et suscipit quo.</p>
        <hr>
        <ul>
          <li>Habit building in essential steps choose habit Good Things</li>
          <li>Get an overview of Habit Calendars admiral general.</li>
          <li>Start building habit with Habitify on platform to new</li>
        </ul>
      </div>
  
      <div class="work-exp">  
        <img src="{%  static 'copper/images/s6.jpg' %}" alt="">
      </div>
  
    </div>

  <!------------ -----------what -client-say ----------------->

    <div class="center">
      <h2>What Our Client Says</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae iste magnam pr</p>
    </div>

    <div class="row mt-5">
      <div class=" col-sm-3">
        <img class="w-50 h-50 rounded-circle" src="{%  static 'copper/images/s6.jpg' %}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos<p>
      </div>

      <div class=" col-sm-3">
        <img class="w-50 h-50 rounded-circle" src="{%  static 'copper/images/s4.jpg' %}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos</p>
      </div>

      <div class=" col-sm-3">
        <img  class="w-50 h-50 rounded-circle" src="{%  static 'copper/images/s3.jpg' %}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos</p>
      </div>

      <div class=" col-sm-3">
        <img class="w-50 h-50 rounded-circle" src="{%  static 'copper/images/member.png' %}" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas ipsam quaerat odit quos</p>
      </div>
    </div>


<!-- -------------------footer------------------ -->
  <div class="address">
    <p>Join 75,000+ Growing Business That <br> <span>Use Copper To Their Brand</span></p><br><br> <br>
    <a href=""><input  type="submit" class="btn" value="Get start with us" ></a>
  </div>
  <hr>
  

  <div class="row">
    <div class="copper col-sm-3">
        <h5>cupper</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, vero!</p>
    </div>

    <div class="link col-sm-3">
        <h5>sociallink</h5>
        <a href=""><i class="fa fa-facebook-square" style="color: blue;">facebook</i></a><br>
        <a href=""><i class="fa fa-instagram"  style="color:rgba(red, green, blue, alpha);"></i></a>instagram<br>
        <a href=""><i class="fa fa-youtube-play" style="color: #ff0000;"></i>Youtube</a><br>
        <a href=""><i class="fa fa-whatsapp" style="color:green;"></i></a>whatsapp<br>
    </div>

    <div class="scl col-sm-3">
        <h5>Quick-link</h5>
        <a href="">fpq</a><br>
        <a href="">Term&condition</a><br>
        <a href="">Privacy policy</a><br>
    </div>

    <div class="col-sm-3">
        <h5>Let's Subscribe your mail</h5>
      
          <div class="col-sm-1.5">
            <input type="email" name="email" class="border" placeholder="write your mail">
            <a href="/signup/"><i class="fa fa-arrow-right  border-box"></i></a>
          </div>
        
    </div>

  </div>

</div>

{% endblock content %}