{% load static %}
<div class="container-fluid">
    <nav class="navbar navbar-expand-sm navbar-nav">
        <div p-5 id="navbarSupportedContent">
          <ul class="navbar-nav  mr-auto mt-5 " >

            <li class=" nav-item ">
              <a class=" mr-20" href="/home/"><img class="w-50 h-50 rounded-circle  mr-15"  src="{% static 'copper/images/static2.png' %}" alt=""></a>
            </li>

            <li class="nav-item active px-2">
              <a class="nav-link " href="/home/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="/about/">About</a>
            </li>

            <li class="nav-item px-3">
                <a class="nav-link " href="/service/">Service</a>
            </li>

            <li class="nav-item px-3 ">
                <a class="nav-link" href="/team/">Team</a>
            </li>

            <li class="nav-item px-3">
                <a class="nav-link abled" href="/blog/">Blog</a>
            </li>

            <li class="nav-item  px-3">
                <a class="nav-link " href="/contact/">Contact</a>
            </li>

            <li class="nav-item dropdown">
              <a  class="nav-link dropdown-toggle" role="button" href="#"  data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Pages</a>
              <div class="dropdown-menu">
                <a href="" class="dropdown-item">Career</a>
                <a href="" class="dropdown-item">Changelog</a>
                <a href="" class="dropdown-item">FQL</a>
                <a href="" class="dropdown-item">Pricing</a>
                <a href="" class="dropdown-item">Pricing2</a>
                <a href="" class="dropdown-item">Testimonial</a>
              </div>

            </li>

              <li class="nav-item  px-5" id="signup">
                <a class="nav-link border border-danger rounded bg-danger " href="/signup/">Sign Up</a>
            </li> 
            <li class="nav-item  px-3">
                <a class="nav-link" href="/login/">Log In</a>
            </li>
            
          </ul>
         
        </div>
    </nav
</div>
